body {
    background-color: black;
    color: white;
}

.board {
    margin: auto;
    padding: auto;
    border-collapse: collapse;
    background-color: rgba(0, 0, 255, 0.404);
}

.super-food {
    width: 35px;
    height: 35px;
    background-image: url(../assets/1-up.png);
    background-size: contain;
}

.wall {
    width: 50px;
    height: 47px;
    background-image: url(../assets/Brick.png);
    background-size: contain;
}

.cell {
    width: 50px;
    height: 47px;
    text-align: center;
    font-size: 1.5em;
}


/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */

.modal {
    /* display: none; */
    height: 50%;
    width: 50%;
    text-align: center;
    background-color: rgba(92, 91, 104, 0.9);
    border-radius: 10px;
    position: absolute;
    top: 23%;
    left: 23%;
}

h1 {
    line-height: 10ch;
}

.restart-btn {
    height: 50px;
    width: 150px;
    background-color: lightseagreen;
    border-radius: 5px;
    border: 2px outset gray;
}

span {
    display: inline-block;
}

.food {
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50px;
}

.pacman {
    height: 30px;
    width: 30px;
    background-image: url(../assets/pacman.png);
    background-size: contain;
}